<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dados</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Formulário de consulta (Paciente: {{name}})</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h3>Dados da Consulta</h3>
                <div class="mb-3 mt-3">
                    <label for="name" class="form-label">Nome: {{name}}</label>
                </div>
                <div class="mb-3 mt-3">
                    <label for="address" class="form-label">Endereço: {{address}}</label>
                </div>
                <div class="mb-3 mt-3">
                    <label for="phone" class="form-label">Telefone: {{phone}}</label>
                </div>
                <div class="mb-3 mt-3">
                    <label for="date" class="form-label">Data: {{date}}</label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>